{% extends "layout.html" %}

{% block post-css %}
<style type="text/css">
.message {
    margin-top:20px;
    margin-bottom:20px;
}
.message p {
    color:#333333;
}

.message a {
    color: #00506B;
}
</style>
{% endblock %}

{% block main %}
<div class="message">
    <h1 class="title">Logged out</h1>
    <p class="thanks">Thanks for coming by! We'd love to see you again sometime. </p>
    <p>You can <a href="{% url django.contrib.auth.views.login %}">log in again</a> if you like.</p>
</div>
{% endblock %}
