{% extends "generic-form.html" %}
{% block extra-css %}
.saved {
    border:solid 1px green;
    background-color:yellow;
}
.form_box {
    height:auto;
    overflow:hidden;
}
.column, .form_box {
    width:100%;
}

#id_about_me {
    width:300px;
    height:75px;
}
.column form {
    margin:0 0;
    padding:0 0;
}
.form_fields td {
    padding:5px 0;
}
{% endblock %}

{% block main %}
<div class="autocenter column">
    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form_box">
        <h1 class="form_title">Register</h1>
        {% if is_saved %}<div class="saved">Data saved successfully!</div>{% endif %}
        <table class="exact autocenter form_fields">
            {{ form.as_table }}
            <tr>
                <td> </td>
                <td class="submit_row"><input type="submit" class="black_button submit_button" value="Register" /> <input type="reset" class="black_button reset_button" value="Reset" /></td>
            </tr>
        </table>
    </div>
    </form>
</div> <!-- /autocenter -->
{% endblock %}
