{% extends "layout.html" %}
{% block main %}
            <div id="top5">
                <h1 class="title">Top 5 Contest Entries</h1>
                <div id="top5-slider-wrapper">
                    <div id="top5-slider" class="nivoSlider">
                        <img src="{{ MEDIA_URL}}images/toystory.jpg" alt="" />
                        <a href="http://dev7studios.com"><img src="{{ MEDIA_URL}}images/up.jpg" alt="" title="This is an example of a caption" /></a>
                        <img src="{{ MEDIA_URL}}images/walle.jpg" alt="" />
                        <img src="{{ MEDIA_URL}}images/nemo.jpg" alt="" title="#htmlcaption" />
                    </div>
                </div>
            </div>
            
            <div id="about">
                <h1 class="title">About the Contest</h1>
                <p>As a leader in capturing the adventuring spirit through brilliant engineering, Lebensraum sets the standard for off-road experiences. That you for being part of the <span class="meister">Meister</span> family. Share your world with us! You just might win some cool cash. Send us a photo of your latest adventure with the <span class="meister">Meister</span>, look around and rate others. Your choice will determine the <span class="emphasis">Adventure-Us Champion</span> who stands to win <span class="emphasis">$5000</span>!
                <div class="contest_details"><a href="">Contest Details</a></div>
                <div class="contest_gallery"><a href="">Contest Gallery</a></div>
            </div>
            <div id="recent">
                <h1 class="title">Recent Entries</h1>
                <div id="recent-images-wrapper">
                    <div id="recent-images-slider" class="nivoSlider">
                        <img src="{{ MEDIA_URL}}images/toystory.jpg" alt="" />
                        <a href="http://dev7studios.com"><img src="{{ MEDIA_URL}}images/up.jpg" alt="" title="This is an example of a caption" /></a>
                        <img src="{{ MEDIA_URL}}images/walle.jpg" alt="" />
                        <img src="{{ MEDIA_URL}}images/nemo.jpg" alt="" title="#htmlcaption" />                    
                    </div>
                </div>
            </div>
{% endblock main %}

{% block body-scripts %}
<script type="text/javascript">
    $(window).load(function() {
        $('#top5-slider').nivoSlider({effect: 'fade'});
        $('#recent-images-slider').nivoSlider({effect:'fade'});
    });
</script>
{% endblock body-scripts %}
