<li class="item selected">
    <a href="#">
    <dl>
        <dd class="title">Lebensraum Meister</dd>
        <dt class="blurb">Your partner in adventure</dt>
    </dl>
    </a>
</li>
<li class="item">
    <a href="#">
    <dl>
        <dd class="title">Contest Details</dd>
        <dt class="blurb">How to win some cool cash</dt>
    </dl>
    </a>
</li>
<li class="item">
    <a href="#">
    <dl>
        <dd class="title">Contest Gallery</dd>
        <dt class="blurb">See the competition</dt>
    </dl>
    </a>
</li>
<li class="item">
    <a href="#">
    <dl>
        <dd class="title">Submit Your Entry</dd>
        <dt class="blurb">Share your experience with us</dt>
    </dl>
    </a>
</li>
<li class="item">
    <a href="#">
    <dl>
        <dd class="title">Lebensraum Home</dd>
        <dt class="blurb">Engineering Personified</dt>
    </dl>
    </a>
</li>

