{% extends "generic-form.html" %}

{% block title %}Login{% endblock %}

{# Style the content #}
{% block extra-css %}
.register-blurb {
    text-align:right;
    padding:5px;
}
.register-blurb a {
    text-decoration:underline;
    color:#00506B;
}
.register-blurb a:hover {
    text-decoration:none;
    color:#0091BF;
}
#id_username, #id_password {
    width:140px;
}

.form_box {
    min-height:175px;
}
{% endblock %}


{% block form-title %}Login{% endblock %}

{% block extra-content %}
<div class="register-blurb">
<p>Haven't registered yet? <a href="{% url signup.views.signup %}">Register now!</a></p>
</div>
{% endblock %}
